<h1>Articles</h1>
<div class="row">
  <% @articles.each do |article| %>
  <div class="col">
        <div class="row">
          <div class="card">
            <div class="card-title">
              <%= article.title%>
            </div>
            <div>
              <%= article.body %>
            </div>
          </div>
        </div>
      <% end %>
  <div>
<div>