<h1 class="text-secondary">Articles</h1>
<div class="row">
  <% @articles.each do |article| %>
  <div class="">
        <div class="card card-body col-md-6 col-sm-12 mb-3">
          <div class="card-title">
            <%= link_to article.title, article, class:"link-danger text-decoration-none"%>
          </div>
          <div>
            <%= article.body %>
          </div>
        </div>
      <% end %>
  <div>
  
<div>